/* General Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

/* Hide the scrollbar track and thumb for transparency */
::-webkit-scrollbar {
  width: 12px; /* Adjust width as needed */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  color: #fff;
  z-index: 10;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hamburger Icon */
.hamburger {
  display: none; /* Hidden by default */
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #000;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


/* Navigation Container */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-list {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav-list a:hover {
  color: #0070f3;
}

.nav-item {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Right Navigation - Contact Button */
.nav-contact {
  display: flex;
}

/* Contact Button Styling */
.contact-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;

  /* Border and radius */
  border: 2px solid transparent;
  border-radius: 30px; /* Ensure rounded corners */

  /* Transition effects */
  transition: background 0.3s ease, border-radius 0.3s ease, color 0.3s ease;
}

body.section-1 .contact-button {
  background: transparent; /* Green gradient */
  color: rgb(0, 0, 0);
  border: 2px solid #007b04;
}

body.section-2 .contact-button {
  background: transparent; /* Yellow gradient */
  color: rgb(0, 0, 0);
  border: 2px solid #7b6b00;
}

body.section-3 .contact-button {
  background: transparent; /* Red gradient */
  color: rgb(0, 0, 0);
  border: 2px solid #7b1f00;
}

body.section-4 .contact-button {
  background: transparent; /* Blue gradient */
  color: rgb(0, 0, 0);
  border: 2px solid #00007b;
}

body.section-1 .contact-button:hover {
  background: linear-gradient(to right, #008400, #4dd44d); /* Lighter green */
  color: white;
  border: 2px solid #0d560d;
}

body.section-2 .contact-button:hover {
  background: linear-gradient(to right, #848400, #bc8d00); /* Lighter yellow */
  color: white;
  border: 2px solid #684e00;
}

body.section-3 .contact-button:hover {
  background: linear-gradient(to right, #7c0000, #ff6565); /* Lighter red */
  color: white;
  border: 2px solid #4d0606;
}

body.section-4 .contact-button:hover {
  background: linear-gradient(to right, #00007b, #6666ff); /* Lighter blue */
  color: white;
  border: 2px solid #6666ff;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  top:0;
  left:100;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.submit-button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.link {
  margin-top: 20px;
  width: 30%;
  padding: 10px 20px;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  border: none;
  font-weight: bold;
  background-color: #00000000;
}

.link:hover {
  color: #0070f3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .nav {
    flex-direction: column;
    gap: 20px;
  }

  .nav-list {
    flex-direction: column;
    gap: 15px;
  }

  .contact-button {
    margin-top: 10px;
  }
}

/* Background Visual */
.video-visual {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  transition: filter 0.8s ease-in-out;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-visual.section-1 {
  filter: hue-rotate(120deg);
}

.video-visual.section-2 {
  filter: hue-rotate(60deg);
}

.video-visual.section-3 {
  filter: hue-rotate(0deg);
}

.video-visual.section-4 {
  filter: hue-rotate(240deg);
}

/* Scroll Container */
.scroll-container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  padding-top: 70px;
  scroll-behavior: smooth; /* Smooth snapping effect */
}

/* Each Card Section */
.card-section {
  scroll-snap-align: start; /* Snap each section to the top of the viewport */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  column-gap: 10%;
  z-index: 1;
}

.card-section .content {
  text-align: center;
  z-index: 2;
}

.card-section .headline {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}

.card-section .text-highlight {
  color: inherit;
  transition: color 0.8s ease;
}

/* Dynamic Highlight Gradients */
/* Dynamic Highlight Gradients */
body.section-1 .text-highlight {
  background: linear-gradient(to right, #008400, #4dd44d); /* Green gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.section-2 .text-highlight {
  background: linear-gradient(to right, #848400, #bc8d00); /* Yellow gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.section-3 .text-highlight {
  background: linear-gradient(to right, #7c0000, #ff6565); /* Red gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body.section-4 .text-highlight {
  background: linear-gradient(to right, #00007b, #6666ff); /* Blue gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.card-section .desc {
  font-size: 1.2rem;
  color: #000000;
  margin: 0 auto;
  max-width: 600px;
}

.card-section .image {
  margin-top: 20px;
}

.card-section .card-img {
  max-width: 500px;
  width: 100%;
  height: auto;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

/* Responsive Adjustments for Small Screens */
@media (max-width: 900px) {
  .card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-section .card-img {
    max-width: 500px;
    width: 90%;
    height: auto;
    margin: auto;
  }

  .hamburger {
    display: flex; /* Show hamburger on mobile */
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    display: none; /* Hidden by default */
    transition: all 0.3s ease;
  }

  .nav.active {
    display: flex; /* Show navigation menu when active */
  }

  .nav-list {
    flex-direction: column;
    gap: 15px;
  }

  .contact-button {
    margin-top: 10px;
  }

}