/*
*,
::before,
::after {
  box-sizing: border-box;
}

:where(:not(dialog)) {
  margin: 0;
}

body {
  margin: 0; 
  padding: 0; 
}

html {
  --nav-block-size: 74px;
  --brand-gradient: linear-gradient(227deg, #1400c7 0%, #00bbff 100%);
}

body {
  font-family: 'Inter', sans-serif;
  min-block-size: 100vh;
  margin: 0;
}

/* Header Styles 
.header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
  position:static;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items-left ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-items-left li {
  font-size: 16px;
  cursor: pointer;
}

.nav-contact {
  margin-left: auto;
}

.contact-button {
  padding: 10px 20px;
  border: 2px solid #333;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.section-wrapper {
  display: grid;
  grid-template-rows: auto; 
  gap: 50px; 
}

.section {
  display: grid;
  grid-template-columns: 1.5fr 1fr; 
  max-width: 1200px;
  padding: 20px;
  gap: 40px; 
  align-items: center; 
  padding: 100px 20px; 
  min-height: 100vh; 
  display: flex;
  justify-content: center; 
  z-index: 5;
  view-timeline-name: --section;
}

@keyframes update-hue {
  0% {
    filter: hue-rotate(210deg);
  }
  25% {
    filter: hue-rotate(150deg);
  }
  45% {
    filter: hue-rotate(300deg);
  }
  60% {
    filter: hue-rotate(4deg);
  }
}

.video-visual {
  grid-column: 1 / -1; 
  position: sticky;
  filter: hue-rotate(210deg);
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation-timeline: --section;
  animation-range-end: exit 110%;
  animation-name: update-hue;
  animation-timing-function: step-end;
  animation-fill-mode: forwards;
}

.video {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  object-fit: cover; 
}

/* Content Wrapper 
.section-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.content-wrapper {
  display: grid;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 20px; 
  max-width: 600px; 
  margin: 0 auto; 
  opacity: 0;
  transform: translateY(30px); 
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content.show {
  opacity: 1;
  transform: translateY(0);
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.headline {
  font-size: 24px;
  font-weight: bold;
}

.content-1 {
  view-timeline-name: --content-1;
  --_text-gradient: linear-gradient(227deg, #28dc28 0%, #00bbff 100%);

}

.content-2 {
  view-timeline-name: --content-2;
  --_text-gradient: linear-gradient(227deg, #1400c7 0%, #00bbff 100%);

}

.content-3 {
  view-timeline-name: --content-3;
  --_text-gradient: linear-gradient(227deg, #1400c7 0%, #b800b1 100%);
}

.content-4 {
  view-timeline-name: --content-4;
  --_text-gradient: linear-gradient(227deg, #b800b1 0%, #f50000 100%);
}

.text-highlight {
    background: var(--_text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  
}

.desc {
  font-size: 16px;
  line-height: 1.5;
}

/* Right-side Stacked Images 
.visual {
  position: sticky;
  top: 50px; 
  margin-bottom: 100px; 
  align-self: start; 
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.card {
  width: 180px;
  height: auto;
  transform: translateY(20px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.card.show {
  transform: translateY(0);
  opacity: 1;
}

.card-img {
  width: 100%; 
  height: auto;
  object-fit: contain; 
}

@keyframes slide-up-first-card {
  50% {
    translate: 0;
    opacity: 1;
  }
  90% {
    translate: 0 -50cqi;
    scale: 0.6;
  }
  100% {
    translate: 0 -100cqi;
    opacity: 0;
  }
}

@keyframes slide-up-card {
  50% {
    opacity: 1;
    translate: 0;
    scale: 1;
  }
  90% {
    opacity: 0.5;
    scale: 0.6;
    translate: 0 -50cqb;
  }
  100% {
    translate: 0 -100cqi;
    opacity: 0;
  }
}

@media (max-width: 960px) {
  .section {
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  .visual {
    display: block; 
    margin: 20px auto;
  }

  .card-wrapper {
    flex-direction: row;
    overflow-x: scroll;
  }
}
*/

@layer library, reset, base, demo;
@import 'https://unpkg.com/open-props@2.0.0-beta.5' layer(library);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap');

/* Reset Styles */
@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  :where(:not(dialog)) {
    margin: 0;
  }
}

/* Base Styles */
@layer base {
  html {
    --nav-block-size: 74px;
    --brand-gradient: linear-gradient(227deg, #1400c7 0%, #00bbff 100%);

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-block-size: 100vh;
  }
}

/* Demo Styles */
@layer demo {
  .navbar {
    min-block-size: var(--nav-block-size);
    display: grid;
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    background-color: white;
    z-index: var(--layer-3);
    place-items: center end;
    padding-block: var(--size-3);
    padding-inline: var(--size-5);

    @media (width >=600px) {
      padding-inline: 6dvi;
    }
  }

  .nav-cta-btn {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-7);
    inline-size: max-content;
    white-space: nowrap;
    text-decoration: none;
    padding-block: var(--size-3);
    padding-inline: var(--size-7);
    border: var(--border-size-2) solid transparent;
    color: black;
    position: relative;
    isolation: isolate;

    background: linear-gradient(white, white) padding-box,
      var(--brand-gradient) border-box;
    border-radius: var(--radius-6);
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;

      background: var(--brand-gradient);
      mix-blend-mode: screen;
    }

    &:hover {
      color: white;

      &::before {
        background: var(--brand-gradient) padding-box,
          var(--brand-gradient) border-box;
        background-repeat: no-repeat;
        background-size: contain;
        mix-blend-mode: normal;
        z-index: -1;
      }
    }
  }

  .header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    position:static;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-items-left ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
  }
  
  .nav-items-left li {
    font-size: 16px;
    cursor: pointer;
  }
  
  .nav-contact {
    margin-left: auto;
  }
  
  .contact-button {
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    font-size: 16px;
  }

  .section {
    --section-block-size: max(400px, 100dvb);
    display: grid;
    background-color: white;
    min-block-size: var(--section-block-size);
    position: relative;
    block-size: 100%;
    display: grid;
    padding: 100px 20px; /* Add padding to spread out sections */

    >* {
      grid-area: 1/1;
    }
  }

  .section-wrapper {
    position: relative;
    display: grid;
    gap: 50px; /* Space between sections */

    @media (width >=960px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (width < 960px) {
      padding-block-start: calc(var(--nav-block-size) + var(--size-7));
      padding-block-end: var(--size-7);
    }
  }

  .video {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }

  .content-wrapper {
    display: grid;

    @media (width < 960px) {
      gap: var(--size-7);
    }
  }

  .meta {
    display: grid;
    gap: var(--size-3);
  }

  .content {
    display: grid;
    inline-size: 100%;
    place-items: center;
    padding-block: var(--size-7);
    padding-inline: var(--size-5);

    @media (width >=960px) {
      padding: var(--size-10);
      min-block-size: 100cqb;
      place-items: center end;
    }

    @media (width < 960px) {
      gap: var(--size-5);
    }
  }

  .mobile-visual {
    inline-size: 100%;
    aspect-ratio: var(--ratio-square);

    @media (width >=960px) {
      display: none;
    }
  }

  .headline {
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-4);
    max-inline-size: var(--size-content-1);
    text-wrap: pretty;

    @media (width < 960px) {
      font-size: var(--font-size-6);
    }
  }

  .desc {
    font-size: var(--font-size-4);
    line-height: 1.5;
    max-inline-size: 40ch;
    text-wrap: pretty;

    @media (width < 960px) {
      font-size: var(--font-size-3);
    }
  }

  .visual {
    display: grid;
    position: sticky;
    block-size: var(--section-block-size);
    inset-block-start: 0;
    container-type: size;

    @media (width < 960px) {
      display: none;
    }
  }

  .video-visual {
    inline-size: 100%;
    block-size: var(--section-block-size);
    display: block;
    position: sticky;
    inset-block-start: 0;
    isolation: isolate;
    filter: hue-rotate(210deg);
  }

  .card-wrapper {
    container-type: size;
    display: grid;
    place-items: center;
    overflow: clip;

    >* {
      grid-area: 1/1;
    }
  }

  .card {
    aspect-ratio: var(--ratio-square);
    inline-size: 70cqi;
    border-radius: var(--radius-3);
    scale: 0.4;
  }

  .card-img {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .card-1 {
    scale: 1;
  }

  .card-2 {
    translate: -35cqi 30cqb;
    opacity: 0.3;
  }

  .card-3 {
    translate: 0cqi 50cqb;
    opacity: 0.5;
  }

  .card-4 {
    translate: 45cqi 40cqb;
    opacity: 0.5;
  }

  .content-1 {
    --_text-gradient: linear-gradient(227deg, #1400c7 0%, #00bbff 100%);
  }

  .content-2 {
    --_text-gradient: linear-gradient(227deg, #28dc28 0%, #00bbff 100%);
  }

  .content-3 {
    --_text-gradient: linear-gradient(227deg, #1400c7 0%, #b800b1 100%);
  }

  .content-4 {
    --_text-gradient: linear-gradient(227deg, #b800b1 0%, #f50000 100%);
  }

  .text-highlight {
    background: var(--_text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
